#logo {
    height: 30px;
    max-width: 100%;
}

/*#hero1 {
    background-image: url("../img/mthood2.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 5px;
}*/

.parallax {
     /*The image used*/
    background-image: url("../img/mthood2.jpg");

     /*Set a specific height*/
    min-height: 500px;

     /*Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
     /*The image used*/
    background-image: url("../img/mthood.jpg");

     /*Set a specific height*/
    min-height: 800px;

     /*Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: .65;*/
}

h1 {
  /*font-family: 'Revalia';*/
  /*font-family: 'Raleway';*/
  font-family: 'Merriweather Sans', sans-serif;
margin-top: 165px;
text-align: center;
color: white;
}

h2 {
    font-family: georgia;
    color: white;
    text-align: center;
    font-family: 'Raleway';


}
h3 {
  text-align: center;
  font-family: georgia;
  color: white;
  font-family: 'Raleway';

}
#services {
  background-color: #27323A;
  /*margin-top: 40px;*/
}

#projects {
  background-color: #27323A;
  /*margin-top: 40px;*/
}
#projects1 {
  background-color: #DB4954;
}
.contactrow {
  background-color: #27323A;
}
#contact {
  text-align: center;
    background-color: #27323A;
    /*margin-top: 40px;*/
  }



.button {
  margin: auto;
  display: block;
}

.button1 {

    width: 120px;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: #DB4954;
    margin-top: 15px;

}


/*this is the large f image on top of hero image*/

.logo1 {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    /*vertical-align: middle;*/
}

#logo1 {
  width: 80%;
  opacity: .85;
}



#box1 {
  width: 100%;
  height: 500px;
  background-color: blue;
}


#box2 {
  width: 100%;
  height: 500px;
  background-color: green;
}
/*this is the quote below the large f on top of the hero image*/

#quote1 {
    font-size: 20px;
    text-align: center;
    width: 35%;
    color: black;
    font-style: italic;
}

.quote2 {
    display: flex;
    justify-content: center;
}

#skills {
  background-color: #DB4954
}
/*This is the author of the quote under the f ontop of hero image*/

#author {
    font-size: 10px;
    color: white;
}

.author {
    display: flex;
    justify-content: center;
}



#signature {
    height: 100px;
    width: 250px;
}

#columnA {
    /*display: flex;
  align-items: center;
  flex-direction: column;*/
    text-align: center;
    margin-top: 150px;
    font-style: italic;
}

#columnA2 {
    opacity: .5;
    text-align: center;
}


/*this is the sentence below Est 1968 in column A*/

#columnA3 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 60%;
    font-size: 24px;
    line-height: 32px;
}

#columnA4 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 65%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}


#hero2 {
    background-image: url("../img/hero2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 5px;
}

.quote3 {
    display: flex;
    justify-content: center;
}

#quote3 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    width: 55%;
    color: white;
    font-style: italic;
}

.quote4 {
    display: flex;
    justify-content: center;
}

#quote4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 55%;
    color: white;
    font-style: italic;
    margin-top: 25px;
}

.quote4 {
    display: flex;
    justify-content: center;
}


/*this is the styling for the three wine bottles*/

.columns4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    /*font-style: italic;*/
}

#bottle1 {
    width: 70%;
    height: 300px;
}

#bottle2 {
    width: 70%;
    height: 300px;
}

#bottle3 {
    width: 70%;
    height: 300px;
}

.columns4 {
    line-height: 30px;
    font-family: georgia;
    font-style: italic;
}
.projects3 {
  margin-top: 10px;
}


h4 {
    font-size: 24px;
}

body {
  padding-top: 40px;
}

.visit {
    color: white;
    font-family: "Raleway";
}


/*This is the beginning of media query for mobile device*/

@media (max-width: 767px) {
    #quote1 {
        font-size: 18px;
        width: 100%;
    }
    #hero1 {
        width: 100%;
        height: 500px;
        margin-top: 5px;
    }
    .logo1 {
        display: flex;
        justify-content: center;
        height: 350px;
        width: 100%;
        /*vertical-align: middle;*/
    }
    .projects3 {
      width: 100%;
    }
    /*this is styling for the words in Column A to the left of the sprayer image*/
    #columnA {
        margin-top: 100px;
    }
    #columnA2 {
        font-size: 14px;
        width: 85%;
    }
    #columnA3 {
        font-size: 20px;
        width: 85%;
    }
    #columnA4 {
        font-size: 12px;
        width: 85%;
    }
    /*this is for the words on top of hero2 image*/
    #quote3 {
        width: 90%;
        font-size: 24px;
    }
    #quote4 {
        width: 90%;
        font-size: 16px;
        margin-top: 10px;
    }
    #bottle1 {
        width: 90%;
        height: 350px;
    }
    #bottle2 {
        width: 90%;
        height: 350px;
    }
    #bottle3 {
        width: 90%;
        height: 350px;
    }
}


/*this is the end of mobile design media query*/
